.ingredient {
  h2 {
    font-weight: bold;
  }
}
.lid-bun {
  h2 {
    color: #e9a859;
  }
}
.patty {
  h2 {
    color: #7d3d1d;
  }
}
.lettuce {
  h2 {
    color: #94b024;
  }
}
.cheese {
  h2 {
    color: #f9d11a;
  }
}
.bottom-bun {
  h2 {
    color: #ab5a16;
  }
}
