.burger {
  div {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .lid-bun {
    img {
      width: 80%;
      filter: saturate(1.5);
    }
  }
  .patty {
    img {
      width: 80%;
    }
  }
  .lettuce {
    img {
      width: 80%;
    }
  }
  .cheese {
    img {
      width: 80%;
    }
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .burger {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .burger {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .burger {
    width: 700px;
    height: 600px;
  }
}
