nav {
  background-color: rgb(252, 186, 3);
  font-weight: bold;
}

.nav-link__home {
  color: rgba(0, 0, 0, 1);
}

.nav-link__home:hover {
  color: rgba(0, 0, 0, 1);
}

.nav-links__burger a:not(:last-child) {
  margin-right: 10px;
}

nav a {
  color: rgba(0, 0, 0, 0.5);
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.logout__btn {
  display: block;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.logout__btn:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.nav-link__user-profile {
  margin-right: 15px;
}

.nav-link__user-profile > div {
  display: flex;
  align-items: center;
}

.nav-link__user-profile > div > span {
  margin-left: 5px;
}

/* .user-name__display,
.user-name__display-warning {
  display: flex;
  align-items: center;
} */

.user-name__display-warning span {
}
