.auth__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__wrapper form {
  max-width: 450px;
}

.auth__wrapper form {
  margin-bottom: 5px;
}

.auth__wrapper form {
  display: flex;
}

.auth__wrapper form > div:not(:last-child) {
  margin-right: 10px;
}

.auth__input-group {
  display: grid;
  row-gap: 10px;
}

.auth__submit-controll button {
  height: 100%;
}

.auth__control {
  margin-top: 10px;
}

.auth__control *:not(:last-child) {
  margin-right: 10px;
}
