.authentication-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authentication-wrapper form {
  max-width: 450px;
}

.authentication-wrapper form div:not(:last-child) {
  margin-bottom: 5px;
}

.authentication-control {
  margin-top: 10px;
}

.authentication-control *:not(:last-child) {
  margin-right: 10px;
}
